body{
	background: #a7a5a3;
}
*{

				margin:0px;
				padding:0px;
				box-sizing:border-box;
			}
			.section{


				margin:100px auto;
				padding:50px;
				width:95%;
				color:#191F4D;
			}


			h1,p{

				border-bottom:1px solid gray;
				margin-bottom:40px;
				margin-top:20px;
				text-shadow:-1px 0px 2px black;
				font-family:Arial, Helvetica, sans-serif;

			}
			p{
				font-size:25px;
			}
			table,tr,td,th{

				border:1px solid  #f0f5f5;

				margin-bottom: 10px;
				 border-collapse: collapse;
				 font-family:Arial, Helvetica, sans-serif;
			}
			table{
				box-shadow:0px 0px 20px 3px #DAD8D8;

			}
			td,th{


				height:40px;
				line-height:40px;
			}

			th{


				text-align:left;
				padding-left:20px;
				padding-right:20px;
				color:white;
				background:#191F4D;
			}

			.odd{
				background:white;
			}
			.even{
				background:#ffffcc;
			}
			input{
				width:auto;
				font-size:15px;
				color:black;
				outline:none;
				padding-left:20px;
				padding-right:20px;
				height:40px;
				line-height:40px;
				border:0px;

			}

			.serial_number{
				padding-left:20px;
				padding-right:20px;

			}
			button{
				padding:10px;
				background:#191F4D;
				color:white;
				border:0px;
				margin-top:20px;
				margin-bottom:20px;
				font-size:15px;
				margin-right:20px;
				cursor:pointer;
			}
			.messages{
				font-family:Arial, Helvetica, sans-serif;
				font-size:20px;
				margin-top:10px;
				margin-bottom:20px;
				background:#ebebe0;
				text-align:center;
			}
			.admin_panel_form input{
				height:40px;
				line-height:50px;
				min-width:300px;

				border-bottom:1px solid #e0e0d1;
				border-left:1px solid #e0e0d1;
				border-right:1px solid #e0e0d1;
			}
			.hr{
				margin:0px;
				min-width:150px;
				display:inline;
				float:left;
				border:1px solid #003d99;
				display:none;
			}
			.shifted{
				margin-left :15px;
			}
			textarea{

				font-size: 16px;

				font-family: Arial, Helvetica, sans-serif;
				padding-left: 20px;
				border:0px;
				border-bottom:1px solid #e0e0d1;
				border-left:1px solid #e0e0d1;
				border-right:1px solid #e0e0d1;
				outline:none;
				resize:none;
				display: block;
				width:100%;
				height:300px;
			}
			.remaining_characters{

				margin-left:20px;
				color:black;
				font-family: Arial, Helvetica, sans-serif;
			}
			.alert_danger,.alert{
					width:90%;
				    color: #a94442;
				    background-color: #f2dede;
				    border-color: #ebccd1;
			        padding: 15px;
				    font-family: Arial, Helvetica, sans-serif;
				    border: 1px solid transparent;
				    border-radius: 10px;

				    position:fixed;
				    top:100px;
				    left:50%;
				    transform: translate(-50%);


			}
			.message{
					width:90%;
				        color: #31708f !important;
				    background-color: #d9edf7 !important;
				    border-color: #bce8f1 !important;
				    padding: 15px;
				    font-family: Arial, Helvetica, sans-serif;
				    border: 1px solid transparent;
				    border-radius: 10px;
				   z-index: 10000;
				    position:fixed;
				    top:200px;
				    left:50%;
				    transform: translate(-50%);	}

			#add_mem select{
				width:auto;
				font-size:15px;
				color:black;
				outline:none;
				padding-left:20px;
				padding-right:20px;
				height:40px;
				line-height:40px;
				border:1px solid #e0e0d1;
				border-top:0px;
				min-width: 300px;
			}
			li{
				list-style-type:none;
				margin:10px;
				}
			@media screen and (max-width: 600px) {
			    .section {
			        padding:10px;
			        width:99%;
	          }
			}
