body {
	margin:0px;
	background: black;
	color: white;
	overflow-x: hidden !important;
}

.arrows {
	height: 50px;
	padding: 0 20px;
}
.arrows img {
	height: 50px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.arrows span {
	position: relative;
	top:-85px;
}
nav {
	max-width: 70% !important;
	align-self: center;
	left: 15% !important;
}
@font-face {
	font-family: 'icons';
	src:url('../fonts/icons/icons.eot');
	src:url('../fonts/icons/icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.ttf') format('truetype'),
		url('../fonts/icons/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.photostack {
	background:#000000;  /*...*/
	background-attachment:fixed;
	position: relative;
	text-align: center;
	overflow: hidden;
	z-index:000 !important;
}

.js .photostack {
	height: 600px;
}

/* Wrapper and figures */

/* The size of this wrapper can be smaller if the items should not be scattered across the whole container */
.photostack > div {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.photostack figure {
	width: 500px;
	height: 500px;  /*...*/
	position: relative;
	padding: 0px;  /*...*/
	text-align: center;
	margin: 5px;
	white-space: nowrap;
	/*box-shadow: 0 0 5px #000;*/
}

.photostack img {
	filter: brightness(50%) !important;
	-webkit-filter: brightness(50%) !important;
}

.photostack-current {
	margin-top:-10px !important;
	z-index:8;
}

.photostack-current img {
	margin-top:-50px !important;
	filter: brightness(100%);
	-webkit-filter: brightness(100%) !important;
}

.js .photostack figure {
	position: absolute;
	display: block;
	margin: 0;
}

.helper {
    display: inline-block !important;
    height: 100%;
    vertical-align: middle !important;
}

.photostack figcaption h2 {
	margin: 50px 0 0 0;
	color: #CC0033;
	font-size: 18px;
}

.photostack img {
	 display: inline-block !important;
	max-width:100% !important;
	max-height:500px !important;
    vertical-align:middle !important;
	box-shadow: 0 0 5px #000;
}

.photostack-img {
	outline: none;
	display: inline-block !important;
	vertical-align:middle !important;
	max-width:100% !important;
	max-height:400px !important;
	background: #f9f9f9;
}
@media only screen and (max-width: 800px) {
	.events {
		width: 90% !important;
	}
}
@media only screen and (max-width: 570px) {
	.photostack figure {
	width: 450px;
	height: 450px;
	}
	.photostack-current img {
		margin-top: -70px !important;
	}
}
@media only screen and (max-width: 500px) {
	.photostack figure {
	width: 380px;
	height: 380px;
	}
	.photostack-current img {
		margin-top: -95px !important;
	}
}
@media only screen and (max-width: 420px) {
	.photostack figure {
	width: 320px;
	height: 320px;
	}
	.photostack-current img {
		margin-top: -110px !important;
	}
}
@media only screen and (max-width: 340px) {
	.photostack figure {
	width: 280px;
	height: 280px;
	}
	.photostack-current img {
		margin-top: -110px !important;
	}
}

.events {
	border-collapse: collapse !important;
	width: 60% ;
	background: #fff !important;
	font-size: large;
	margin: auto;
	box-shadow: 0 0 5px #000;
}

.events td {
	border: 1px solid #dddddd !important;
	text-align: left !important;
	padding: 10px !important;
}

.events th {
	background: #000;
	color: #fff;
	padding: 15px !important;
	border: 1px solid #000 !important;
}

.events tr:nth-child(even) {
	background-color: #dddddd !important;;
}
h1 {
	text-align: center;
}

/* Navigation dots */
.photostack nav {
	position: absolute;
	width: 100%;
	bottom: 30px;
	z-index: 90;
	text-align: center;
	left: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.photostack nav span {
	position: relative;
	display: inline-block;
	margin: 0 5px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #aaa;
	opacity:0.7;
	border-radius: 50%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.6s ease-in-out, background 0.3s;
	transition: transform 0.6s ease-in-out, background 0.3s;
	-webkit-transform: scale(0.48);
	transform: scale(0.48);
}

.photostack nav span:last-child {
	margin-right: 0;
}

.photostack nav span::after {
	content: "\e600";
	font-family: 'icons';
	font-size: 80%;
	speak: none;
	display: inline-block;
	vertical-align: top;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 30px;
	color: #fff;
	opacity: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.photostack nav span.current {
	background: #ddd;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity:0.7;
}

/* Overlays */

/* Initial overlay on photostack container */
.js .photostack::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 100;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

/* Button on photostack container */
.js .photostack::after {
	content: 'View Gallery';
	font-weight: 400;
	position: absolute;
	border: 3px solid #fff;
	text-align: center;
	white-space: nowrap;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
	padding: 10px 20px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	z-index: 101;
}

.js .photostack::before,
.js .photostack::after {
	opacity: 0;
	visibility: hidden;
}

/* Overlay on figure */
.photostack figure::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: visible;
	opacity: 1;
	background: rgba(0,0,0,0.05);
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

/* Hide figure overlay when it becomes current */
figure.photostack-current::after {
	-webkit-transition: opacity 0.6s, visibility 0s 0.6s;
	transition: opacity 0.6s, visibility 0s 0.6s;
	opacity: 0;
	visibility: hidden;
}

/* Special classes for transitions and perspective */
.photostack-transition figure {
	-webkit-transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
}

.photostack-perspective {
	-webkit-perspective: 1800px;
	perspective: 1800px;
}

.photostack-perspective > div,
.photostack-perspective figure {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.photostack-perspective figure,
.photostack-perspective figure div {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.photostack-perspective figure.photostack-flip {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
}

.csstransformspreserve3d figure.photostack-flip .photostack-back {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	display: block;
}

.no-csstransformspreserve3d figure.photostack-showback .photostack-back {
	display: block;
}

/* The no-JS fallback look does not need to be boring ;) */
.no-js .photostack figure {
	box-shadow: -2px 2px 0 rgba(0,0,0,0.05);
}

.no-js .photostack figure::after {
	display: none;
}

.no-js .photostack figure:nth-child(3n) {
	-webkit-transform: translateX(-10%) rotate(5deg);
	transform: translateX(-10%) rotate(5deg);
}

.no-js .photostack figure:nth-child(3n-2) {
	-webkit-transform: translateY(10%) rotate(-3deg);
	transform: translateY(10%) rotate(-3deg);
}

/* Some custom styles for the demo */

/* Since we don't have back sides for the first photo stack, we don't want the current dot to become too big */
#photostack-1 nav span.current {
	background: #888;
	-webkit-transform: scale(0.61);
	transform: scale(0.61);
}


#eventname, #event_date{
	font-family: "Open Sans";
}
#description{
	font-family: "Lato"
}
#description, #event_date{
	margin-bottom: 30px;
	text-align: center;
}
#description{

	max-width: 500px;
	margin: auto;
	margin-bottom: 70px;
}
#eventname:after{
	content: "";
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: linear-gradient(to right, black,white,black);
	display: block;
}
