*{

			margin:0px;
			padding:0px;
			box-sizing:border-box;

	}



body{
	background-color:#bbbbbb;

   }
.header{
	background:#191F4D;
	height:100px;
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	line-height: 100px;
	z-index:9999;
	box-shadow:0px 0px 10px 1px #424247;
}
.council_members_header{
	background:black;
	opacity:0.4;
	position:fixed;
	top:80px;
	color:white;
	left:0px;
	right:0px;
	height:50px;
	line-height: 50px;
	padding-left:20px;
	font-size: 30px;
	text-shadow:-1px 0px 2px white;
	z-index: 60;
}
.login_form{

	float:right;

	height:100px;
	line-height: 100px;

}


.login_form  .login_form_trigger{

	float:right;
	border:0px;
	outline:none;
	border-radius:2px;
	margin:25px;
	margin-top:30px;
	padding:8px;


}
.flash_message{
	width:90%;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid transparent;
    border-radius: 10px;
   z-index: 10000;
    position:fixed;
    top:200px;
    left:50%;
    transform: translate(-50%);
}


.logged_in{

	height:30px;
	width:180px;

	float:right;
	margin-top:30px;
}

.logged_in button{

	height:30px;
	padding-left:10px;
	padding-right:10px;
	margin-right:20px;
	float:left;
	border-radius:3px;
	border:0px;

}
.header .csi_name{
	height:100px;
	line-height:100px;
	width:auto;

	float:left;
	color:white;
	font-size:30px;
	margin-left:20px;

}


 .pop_up_window_container{

	position:fixed;

	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:black;
	display:none;
	opacity:0.45;
}
.pop_up_window_div{



	border-radius:10px;
	position:fixed;
	top:-350px;
	height:250px;
	width:100%;
	z-index: 9999;
}
.pop_up_window{
	height:250px;
	width:300px;
	box-shadow:0px 0px 10px 1px #424247;

	border-radius:10px;
	background-color:white;
}
.section{
	width:100%;
	background-color:white;
	height:1000px;
}
.pop_up_window .login_header{

	border-bottom:1px solid #D6D6DD;

}

.pop_up_window h3{

	font-family:Arial, Helvetica, sans-serif;
	font-weight:300;
	color:#050505;
	font-size:20px;
	margin-left:10px;
	float:left;
	text-shadow:-1px 0px 2px black;
}

.pop_up_window .cross_mark{
	font-size:15px;
	width:15px;
	font-weight:lighter;
	margin-top:17px;
	margin-right:15px;
	float:right;

	background-color:white;
}

.pop_up_window form {

	height:250px;
	border-radius:0px 0px 10px 10px;

}
.pop_up_window form div{
	height:40px;
	width:230px;
	margin-top:20px;
	border-radius:5px;
	overflow:hidden;
}
.pop_up_window form div input{
	height:40px;
	width:190px;
	float:left;
	padding-left:10px;
	border:1px solid #D6D6DD;
	border-left:0px;
	outline:none;
}
.pop_up_window form div i{
	height:40px;
	width:40px;
	float:left;
	color:#2828B3;
	font-size:20px;
	line-height:37px;

	border:1px solid #D6D6DD;
	border-right:0px;
}
.pop_up_window form div .login_button{
	height:40px;
	padding-left:10px;
	line-height:40px;
	 background-color:white;
	font-size:20px;
	font-weight:lighter;
	padding-right:10px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	color:#050505;
	border:1px solid #D6D6DD;



}
.pop_up_window form div .login_button:hover{

	text-shadow:-1px 0px 1px black;


}







	.main{
			text-align:center;
			max-width:1050px;
			height:auto;
			margin:150px auto;
			margin-bottom:0px;
			padding:50px;
			padding-bottom:0px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;


	}

			.rows{



				display:block;
				margin:0px auto;
				margin-bottom:50px;
				height:365px;


			}


	.container_parent{


			height:365px;
			width:auto;
			display:inline-block;
			margin:0 auto;


	}
	.container{
		position:relative;
			margin: 25px;
			box-shadow:0px 0px 20px 3px #716e6e;
			height:365px;
			width:250px;
			float:left;
			background-color: wheat;
	}


		.photo{

			width:250px;
			height:300px;
			overflow:hidden;
			position:relative;
			z-index:50;
		}


		.photo div{

			width:250px;
			height:300px;
			overflow:hidden;
			position:relative;

		}
		.photo div img{
			width:250px;
			height:300px;
			transition:width .2s ease-in, height .2s ease-in,top .2s ease-in,left .2s ease-in;
			position:relative;
			top:0px;
			left:0px;
			z-index:200;
		}

		.photo div:hover img{
			width:275px;
			height:325px;
			top:-12.5px;
			left:-12.5px;
			transition:width .2s ease-in, height .2s ease-in,top .2s ease-in,left .2s ease-in;
		}

		.info{

			width:250px;
			height:100px;
			padding-left:10px;
			padding-right:10px;
		}
		 .info p{
				font-family:Arial, Helvetica, sans-serif;
				font-weight:bold;
				color:#050505;
				margin-top:10px;
				font-size:20px;


		}
		.info h3{
				font-family:Arial, Helvetica, sans-serif;
				font-weight:400;
				color:#6B6666;
				font-size:14px;

			}

			.photo_container{
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
