.csi-footer {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: #1b1b1b;
  color: white;
  font-size: 12px;
  font-family: 'Lato';
}

@media only screen and (min-width: 480px) {
  .csi-footer {
    font-size: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-footer {
    font-size: 20px;
  }
}

.csi-footer .csi-footer-content .footer-social {
  padding-bottom: 30px;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a {
  color: #444444;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a:hover {
  color: #bdbdbd;
}

@media only screen and (min-width: 480px) {
  .csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
    font-size: 2.5em;
  }
}

.csi-footer .csi-footer-content .csi-contact-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  flex-wrap: wrap;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info h3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block {
  width: 100%;
  min-width: 300px;
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .footer-text {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block {
    max-width: 430px;
    width: 30%;
    text-align: right;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block:first-of-type {
    border-right: 2px solid white;
  }
}

@media only screen and (min-width: 1170px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
  display: block;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label, .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
  padding-bottom: 10px;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
    padding-right: 10px;
    width: 180px;
    text-align: left;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
    width: 250px;
    text-align: left;
  }
}

/*# sourceMappingURL=footer.css.map */
