.blog_ul{

				width:600%;


			}
			.blog_div{
				width:100%;
				height:auto;

			}
			.blog_li{

				float:left;
				width:16.6%;
				display:flex;
				justify-content:space-around;
				flex-wrap:wrap;

			}
			.info{
				height:300px;
				flex:1;

				position:relative;

			}


			.dots_container{



				position:relative;
			}
			.centered_div{
				width:140px;
				margin:0px auto;

				display:block;
				height:10px;
			}
			.slider{
				padding-top: 40px;
				height:60vh;

				overflow:hidden;
				background-color:#1b1b1b;
				color:white;

			}
			.dot{

				height:10px;
				width:10px;
				border-radius:5px;
				border:1px solid gray;
				float:left;
				margin:5px;
			}

			.description{

				height:auto;
				overflow-y:auto;
				font-family:Arial, Helvetica, sans-serif;
				padding:20px 10%;
				font-size:large;


			}
			.author{


				height:auto;
				padding:20px 10%;
				font-size:large;
				font-family:Arial, Helvetica, sans-serif;
			}
			.stop_button{
				margin:30px auto;
				display:block;
				border-radius:10px;
				border:0px;
				padding:10px;
				background-color:#ccc;
			}
			.current_slide{
				overflow-y:auto;

			}
      .blog-title{
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }
      .blog-title:after{
        content: "";
        width: 100%;
        height: 2px;
        margin-top: 10px;
        background: linear-gradient(to right, #1b1b1b,white,#1b1b1b);
        display: block;
      }
