body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
}
.bg-image{
	z-index: -999;
	background-image: url("resources/images/bwp.jpg");
	width: 100%;
	height: 110vh;
	position: fixed;
	background-size: cover;
	padding: 0px;
	margin-top: -20px;
}

.winner-container{
	width: 100%;
	padding-top: 60px;
}
.winner-container h1{
	text-align: center;
	color: white !important;
}
.winner-container h1::after{
	content: "";
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: linear-gradient(to right, black,white,black);
	display: block;
}

.winner-flex-container{
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
}
.winner-div{
	flex-basis: 30%;
	min-width: 300px;


}
/*.winner-row{
	display: inline;
	width: 100%;
	justify-content: space-around;
}
.winner-row h2{
	width: 100%;
	color: white;
	text-align: center;
	font-family: "Lato";
	font-weight: 300;
	font-size: 1.7em;
}

.winner-div{
	margin: 20px;
	width: 100px;
	display: inline !important;
	float: left;
}*/

.winner-row h2 {
	text-align: center;
	color: #fff;
}

.image-container{
	display: flex;
	width: 150px;
  height: 150px;
  font-size: 80px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 75px;
	margin: auto;
  justify-content: center;
  align-items: center ;
	box-sizing: border-box;
	box-shadow: 3px 4px 10px black;
}
.winner-div h3{
	text-align: center;
	color: white;
}
.image-container .fa{
	text-shadow: 2px 2px #black;
}

.image-container.gold{
	color: gold;
	border-color: gold;
}

.image-container.silver{
	color: silver;
	border-color: silver;
}

.image-container.bronze{
	color: #bd4949;
	border-color: #bd4949;
}
