*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.pop_up_window_container{

	position:fixed;

	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:black;
	display:none;
	opacity:0.45;
}
.pop_up_window_div{



	border-radius:10px;
	position:fixed;
	top:-350px;
	height:250px;
	width:100%;
	z-index: 9999;
}
.pop_up_window{
	height:250px;
	width:300px;
	box-shadow:0px 0px 10px 1px #424247;

	border-radius:10px;
	background-color:white;
}

.pop_up_window .login_header{

	border-bottom:1px solid #D6D6DD;

}

.pop_up_window h3{

	font-family:Arial, Helvetica, sans-serif;
	font-weight:300;
	color:#050505;
	font-size:20px;
	margin-left:10px;
	float:left;
	text-shadow:-1px 0px 2px black;
}

.pop_up_window .cross_mark{
	font-size:15px;
	width:15px;
	font-weight:lighter;
	margin-top:17px;
	margin-right:15px;
	float:right;

	background-color:white;
}

.pop_up_window form {

	height:250px;
	border-radius:0px 0px 10px 10px;

}
.pop_up_window form div{
	height:40px;
	width:230px;
	margin-top:20px;
	border-radius:5px;
	overflow:hidden;
}
.pop_up_window form div input{
	height:40px;
	width:190px;
	float:left;
	padding-left:10px;
	border:1px solid #D6D6DD;
	border-left:0px;
	outline:none;
}
.pop_up_window form div i{
	height:40px;
	width:40px;
	float:left;
	color:#2828B3;
	font-size:20px;
	line-height:37px;

	border:1px solid #D6D6DD;
	border-right:0px;
}
.pop_up_window form div .login_button{
	height:40px;
	padding-left:10px;
	line-height:40px;
	 background-color:white;
	font-size:20px;
	font-weight:lighter;
	padding-right:10px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	color:#050505;
	border:1px solid #D6D6DD;



}
.pop_up_window form div .login_button:hover{

	text-shadow:-1px 0px 1px black;


}


.hr{
	height:0px;
	border:1px solid blue;
	margin:0px;
	display:inline;
	float:left;
	display:none;

	width:50%;
}
