*{

	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body{
	height:1000px;
}

.details{
	width:85%;
	min-height:300px;
	box-shadow:0px 0px 20px 3px #DAD8D8;
	border-top:0px;
	margin:0px auto;
	margin-bottom: 50px;
	position:relative;
	height:30%;
	background-image: url('resources/images/cover_pic.jpg');
	background-size: cover;
	background-position: center;
}

.user_image{

	height:180px;
	border-radius:8px;
	overflow:hidden;
	width: 180px;
	box-shadow:0px 0px 20px 3px #DAD8D8;
	position:absolute;
	bottom:-10%;
	left:5%;
}

.user_image img{

	height:180px;
	width:180px;
}


.main_container{

	box-shadow:0px 0px 20px 3px #DAD8D8;
	width:85%;
	height:auto;
	background-color: #f2f2f2;
	margin:0px auto;
}
.tabs{

	height:8%;
	width:49.9%;
	font-size: 25px;
	background-color: #f2f2f2;
	outline:none;
	margin-bottom: 20px;
	border:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#050505;
	text-shadow:-1px 0px 3px #740C0C;

}
.credentials,.posts{

	border-top:0px;
	height:0px;
	width:100%;
	overflow:hidden;
	border-bottom: 0px;
	background-color: #f2f2f2;
	padding-left:20px;
	padding-right: 20px;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
}

.pop_up_window_container{

	position:fixed;

	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	background:black;
	display:none;
	opacity:0.45;
}
.pop_up_window_div{



	border-radius:10px;
	position:fixed;
	top:-350px;
	height:250px;
	width:100%;
	z-index: 9999;
}
.pop_up_window{
	height:250px;
	width:300px;
	box-shadow:0px 0px 10px 1px #424247;

	border-radius:10px;
	background-color:white;
}

.pop_up_window .login_header{

	border-bottom:1px solid #D6D6DD;

}

.pop_up_window h3{

	font-family:Arial, Helvetica, sans-serif;
	font-weight:300;
	color:#050505;
	font-size:20px;
	margin-left:10px;
	float:left;
	text-shadow:-1px 0px 2px black;
}

.pop_up_window .cross_mark{
	font-size:15px;
	width:15px;
	font-weight:lighter;
	margin-top:17px;
	margin-right:15px;
	float:right;

	background-color:white;
}

.pop_up_window form {

	height:250px;
	border-radius:0px 0px 10px 10px;

}
.pop_up_window form div{
	height:40px;
	width:230px;
	margin-top:20px;
	border-radius:5px;
	overflow:hidden;
}
.pop_up_window form div input{
	height:40px;
	width:190px;
	float:left;
	padding-left:10px;
	border:1px solid #D6D6DD;
	border-left:0px;
	outline:none;
}
.pop_up_window form div i{
	height:40px;
	width:40px;
	float:left;
	color:#2828B3;
	font-size:20px;
	line-height:37px;

	border:1px solid #D6D6DD;
	border-right:0px;
}
.pop_up_window form div .login_button{
	height:40px;
	padding-left:10px;
	line-height:40px;
	 background-color:white;
	font-size:20px;
	font-weight:lighter;
	padding-right:10px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	outline:none;
	color:#050505;
	border:1px solid #D6D6DD;



}
.pop_up_window form div .login_button:hover{

	text-shadow:-1px 0px 1px black;


}
.login_form_trigger_edit{

	float:right;
	border:0px;
	outline:none;
	border-radius:2px;
	margin:25px;
	margin-top:30px;
	padding:8px;


}
label{
	float:right;
	text-align: right;
	min-width: 110px;
}
input,select{
	outline:none;
	background-color: #f2f2f2;

}
table{
	width:100%;
}
td {
	padding-right:10px;
	font-size: 13px;
}

.info{
	width:80%;
	height:35px;
	line-height: 35px;
	border:1px solid #d9d9d9;
	border-top:0px;
	padding:0px;
}

.info input,.info select,.info button{
	width:100%;
	height:30px;
	border:0px;
	padding-left:10px;

}
.info button{
	height:35px;
	background-color: #f2f2f2;
	font-size: 15px;
	border:1px solid #e0e0d1;
	border-radius:4px;
}
.hr{
	height:0px;
	border:1px solid blue;
	margin:0px;
	display:inline;
	float:left;
	display:none;

	width:50%;
}
.password_td{
	position:relative;
}
.credentials_form i {
	position:absolute;
	right:10px;
	bottom:10px;
}
.flash_message{
					width:90%;
				    color: #31708f;
				    background-color: #d9edf7;
				    border-color: #bce8f1;

				    padding: 15px;
				    font-family: Arial, Helvetica, sans-serif;
				    border: 1px solid transparent;
				    border-radius: 10px;
				   z-index: 10000;
				    position:fixed;
				    top:200px;
				    left:50%;
				    transform: translate(-50%);
				}

.alert_danger{
					width:90%;
				    color: #a94442;
				    background-color: #f2dede;
				    border-color: #ebccd1;
			        padding: 15px;
				    font-family: Arial, Helvetica, sans-serif;
				    border: 1px solid transparent;
				    border-radius: 10px;

				    position:fixed;
				    top:100px;
				    left:50%;
				    transform: translate(-50%);


			}
textarea{
	font-size: 16px;
		background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	border:0px;
	border-bottom:1px solid #e0e0d1;
	border-left:1px solid #e0e0d1;
	border-right:1px solid #e0e0d1;
	outline:none;
	resize:none;
	display: block;
	width:100%;
	height:300px;
}
.posts .edit_achievements{
	width:100%;
	height:40px;
	margin:20px auto;
	display:block;
	border:0px;
	outline: none;
	background-color: #f2f2f2;
	font-size: 15px;
	border:1px solid #e0e0d1;
	border-radius:4px;
}
.social_media_links{
	height:50px;
	width:50px;
	border-radius:25px;
	float:right;
	margin-top:10px;
	margin-right: 10px;
	position:relative;

}
.social_media_links_imgs{
	height:50px;
	width:50px;
	border-radius:25px;
	position:absolute;
	top:40px;
	right:0px;

}
@media screen and (max-width: 620px) {

	          .details{
	          	width:100%;
	          	margin:0px 0px;
	          	margin-bottom: 50px;
	          }
	          .main_container{
          		width:100%;

	          }
	          .user_image{


	          	left:50%;
	          	transform :translateX(-50%);


	          }
	          .tabs{
	          	font-size: 20px;
	          }
			}
