body {
  margin: 0;
  overflow-x: hidden;
}

.body-overflowY-hide {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.csi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 103;
}

@media only screen and (min-width: 768px) {
  .csi-header {
    height: 80px;
  }
}

.csi-header .csi-logo {
  position: absolute;
  left: 10px;
  top: 20px;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  display: -webkit-box;
  display: flex;
  display: -webkit-inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.csi-header .csi-logo * {
  display: block;
}

.csi-header .csi-logo h2 {
  margin: 0;
}

.csi-header .csi-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding-right: 10px;
  width: 40px;
}

.csi-header .csi-logo.logo-color-change {
  color: white;
}

@media only screen and (min-width: 480px) {
  .csi-header .csi-logo {
    font-size: 18px;
    left: 20px;
  }
  .csi-header .csi-logo img {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-header .csi-logo {
    font-size: 24px;
    left: 30px;
  }
  .csi-header .csi-logo img {
    width: inherit;
  }
}

.header-color-change {
  background-color: white;
  box-shadow: 2px 2px 10px #000000;
}

.header-color-change .csi-logo img {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.header-color-change .csi-logo h2 {
  color: black;
}

.header-color-change .csi-nav-trigger .csi-nav-icon {
  background-color: black;
}

.csi-nav-trigger {
  float: right;
  width: 54px;
  height: 100%;
}

.csi-nav-trigger .csi-nav-icon {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  -webkit-transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s, -webkit-transform 0.3s;
}

.csi-nav-trigger .csi-nav-icon::before, .csi-nav-trigger .csi-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.5s, width 0.3s;
  -webkit-transition: width 0.3s, -webkit-transform 0.5s;
  transition: width 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.3s;
  transition: transform 0.5s, width 0.3s, -webkit-transform 0.5s;
}

.csi-nav-trigger .csi-nav-icon::before {
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.csi-nav-trigger .csi-nav-icon::after {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.csi-header-hide {
  background-color: transparent;
}

.trigger-open .csi-nav-icon {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.trigger-open .csi-nav-icon::before {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.trigger-open .csi-nav-icon::after {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.csi-nav {
  position: fixed;
  z-index: 100;
  width: 0;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: #1d1d1d;
  -webkit-transition: visibility 0s 0.8s, opacity 0.5s;
  transition: visibility 0s 0.8s, opacity 0.5s;
}

.csi-nav li a {
  color: #575757;
}

.csi-nav .csi-nav-wrapper {
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper {
  display: block;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: distribute;
    box-pack: distribute;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
  position: relative;
  font-size: 0.8em;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
    font-size: 1.1em;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
  position: relative;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li a:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
    text-align: left;
    font-size: 1.2em;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 0.7em;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
  margin-top: 10px;
  margin-bottom: 10px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
    top: 0;
    right: 0;
    margin-top: 30px;
    text-align: right;
    margin-right: 20px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
    margin: 8px;
  }
}

.csi-nav .csi-nav-wrapper .csi-full-block {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
  height: 100%;
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
  display: inline-block;
  height: 100%;
  margin-right: 30px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
    font-size: 30px;
  }
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
    margin-right: 50px;
  }
}

.is-visible {
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.csi-footer {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: #1b1b1b;
  color: white;
  font-size: 12px;
  font-family: 'Lato';
}

@media only screen and (min-width: 480px) {
  .csi-footer {
    font-size: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-footer {
    font-size: 20px;
  }
}

.csi-footer .csi-footer-content .footer-social {
  padding-bottom: 30px;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a {
  color: #444444;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a:hover {
  color: #bdbdbd;
}

@media only screen and (min-width: 480px) {
  .csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
    font-size: 2.5em;
  }
}

.csi-footer .csi-footer-content .csi-contact-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  flex-wrap: wrap;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info h3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 40px;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block {
  width: 100%;
  min-width: 300px;
  line-height: 1.5;
  margin-bottom: 40px;
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .footer-text {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block {
    max-width: 430px;
    width: 30%;
    text-align: right;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block:first-of-type {
    border-right: 2px solid white;
  }
}

@media only screen and (min-width: 1170px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
  display: block;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label, .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
  padding-bottom: 10px;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
    padding-right: 10px;
    width: 180px;
    text-align: left;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
    width: 250px;
    text-align: left;
  }
}

.csi-sponsors-main {
  width: 100%;
  background-color: #d8d7d7;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 1.5em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  box-pack: distribute;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
  position: relative;
}

.csi-sponsors-main .csi-sponsor-title {
  width: 100%;
  font-family: "Lato";
  text-align: center;
}

.csi-sponsors-main .csi-sponsor-title h1 {
  font-weight: 300;
  font-size: 1.3em;
}

@media only screen and (min-width: 480px) {
  .csi-sponsors-main .csi-sponsor-title h1 {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 768px) {
  .csi-sponsors-main .csi-sponsor-title h1 {
    font-size: 2em;
  }
}

.csi-sponsors-main .csi-sponsor-content {
  width: 150px;
  background-color: white;
  margin: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Open Sans";
}

.csi-sponsors-main .csi-sponsor-content:hover {
  box-shadow: 7px 7px 10px #888888;
}

.csi-sponsors-main .csi-sponsor-content .image-container {
  height: 100px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.csi-sponsors-main .csi-sponsor-content .image-container img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.csi-sponsors-main .csi-sponsor-content .csi-sponsor-content-info {
  display: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.csi-sponsors-main .csi-sponsor-content .csi-sponsor-content-info p {
  font-size: 0.85em;
}

@media only screen and (min-width: 480px) {
  .csi-sponsors-main .csi-sponsor-content {
    width: 200px;
  }
  .csi-sponsors-main .csi-sponsor-content .image-container {
    height: 150px;
    border-bottom: 1px solid #ccbdbd;
  }
  .csi-sponsors-main .csi-sponsor-content .csi-sponsor-content-info {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .csi-sponsors-main .csi-sponsor-content {
    width: 250px;
  }
  .csi-sponsors-main .csi-sponsor-content .image-container {
    height: 200px;
  }
}

/*# sourceMappingURL=sponsors.css.map */
