@import 'bourbon/bourbon';

@import 'mixins/mixins';

$lightRed : rgba(212, 68, 87, 0.9);
.csi-slider{
	position: relative;
	height: 75vh;
	width: 100%;
	top: 0;
	overflow: hidden;

	@include MediaQuery(S){
		height: 90vh;
	}

	@include MediaQuery(M){
		height: 100vh;
	}
}

ul, li{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.csi-slider-main{
	height: 100%;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
	li{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		@include transform(translateX(100%));
		&.selected{
			@include transform(translateX(0));
			.csi-slider-container{
				.csi-center-div{
					opacity: 1;
				}
			}
		}

		&.move-left{
			@include transform(translateX(-100%));
		}
		&.is-moving, &.selected{
			@include transition(transform .5s);
		}
	}
	li:first-of-type{
		background: url("resources/images/crico1.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;

	}
	li:nth-of-type(2){
		background-color: blue * 0.5;
	}
	li:nth-of-type(3){
		background: url("resources/images/crico2.jpg");
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	li:nth-of-type(4){
		background-color: yellow * 0.5;
	}

	.transparent{
		z-index: 3;
		background-color: rgba(20,20,20,0.5);
		width: 100%;
		height: 100%;
	}

	.csi-slider-container{
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		.csi-center-div{
			z-index: 4;
			position: absolute;
			top: 0;
			margin: 0;
			opacity: 0;
			@include transition(opacity 0.5s ease-in 0s);
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 14px;
			font-family: "Open Sans";
			color: white;
			display: flex;
			@include justify-content(center);
			@include align-items(center);
			@include MediaQuery(S){
				font-size: 20px;
			}
			@include MediaQuery(M){
				@include justify-content(space-around);
				font-size: 24px;
			}
			.csi-center-contents{
				width: 300px;
				h2, h3{
					margin-bottom: 0;
					text-shadow: 2px 2px 10px #000000;
					font-weight: 700;
				}
				h2{
					margin-top: 0;
					font-size: 1.8em;
				}
				p{
					margin-bottom: 20px;
					text-shadow: 2px 2px 10px #000000;
				}

			}
			.col-2{
				font-size: 20px;
				width: 0;
				display: none;
			}
			@include MediaQuery(M){
				.col-1, .col-2{
					text-align: left;
				}
				.col-2{
					display: block;
					width: 300px;
				}
			}

		}
	}
	.csi-bg-video-wrapper{
		/* hide video on mobile device */
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		video {
			/* you won't see this element in the html, but it will be injected using js */
			display: block;
			min-height: 100%;
			min-width: 100%;
			max-width: none;
			height: auto;
			width: auto;
			position: absolute;
			@include center;
		}
		@include MediaQuery(M){
			display: block;
		}
	}
	.csi-upcoming-events{
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 5;

		.csi-upcoming-events-container{
			z-index: 7;
	    height: 100%;
	    width: 100%;
			max-width: 550px;
	    position: absolute;
	    top: 0;
	    left: 0;
			@include display(flex);
			@include flex-direction(column);
			margin: auto;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			.event-element{
				margin-top: 7%;
				position: relative;
				width: 100%;
				height: 57%;
				@include display(flex);
				@include justify-content(center);
				.event-image{
					width: 60%;
					height: 100%;
					position: relative;
					img{
						position: absolute;
						width: 100%;
						top: 50%;
						@include transform(translateY(-50%));
						opacity: 0;
						@include transition(all 0.5s ease-in);
					}
					img.selected{
						opacity: 1;
					}
				}
			}
			.event-content{
				position: relative;
				font-family: $openSans;
				font-size: 1.1em;
				@include display(flex);
				@include flex-direction(column);
				@include justify-content(center);
				font-size: 1.1em;

				.event-content-text{
						display: none;
				}

				.button-row{
					font-size: 0.8em;
					position: relative;
					@include display(flex);
					@include justify-content(center);
					.csi-button{
						padding: 0.8em 1em;
						margin-top: 0.8em;
						background-color: $lightRed;
						font-weight: 400;
						color: white;
						margin-right: 20px;
						margin-left: 20px;
						@include transition(background-color 0.2s ease-in);
						&:hover{
								background-color: $lightRed*0.5;
						}
					}
				}

			}


		}
		@include MediaQuery(S){
			.csi-upcoming-events-container{
				.event-content{
					.button-row{
						font-size: 1em;
						.csi-button{
							padding: 1em 1.2em;
						}
					}
				}
			}


		}
		@include MediaQuery(M){
			.csi-upcoming-events-container{
				max-width: none;
				@include flex-direction(row);
				.event-element{
					margin-top: 0;
					height: 100%;

					.event-image{
						max-width: 450px;
						width: 80%;
					}
				}
				.event-content{
					.event-content-text{
							position: relative;
							width: 100%;
							margin-bottom: 0.8em;
							display: block;
							text-align: center;
							color: white;
							h2{
								font-size: 2.8em;
								font-weight: 300;
								line-height: 1em;
								margin-bottom: 15px;
								text-shadow: 2px 2px 10px #000000;
							}
					}
					width: 100%;
				}
			}
		}

	}
}

.csi-slider-nav{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: center;
	z-index: 10;
	nav, ul, li, a{
		height: 100%;
	}
	nav{
		position: relative;
		display: inline-block;

		ul{
			position: relative;
			display: flex;
			@include justify-content(center);
			li{
				width: 80px;
				position: relative;
				a{
					color: white;
					font-size: 35px;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					margin-top: 10px;
				}
			}
			li.selected{
				a{
					color: black;
				}

			}

		}
		.marker{
			position: absolute;
			left: 0;
			height: 100%;
			width: 80px;
			color: black;
			background-color: white;
			@include transition(transform 0.2s);
			&.item-1{
				@include transform(translateX(0));
			}
			&.item-2{
				@include transform(translateX(100%));
			}
			&.item-3{
				@include transform(translateX(200%));
			}
			&.item-4{
				@include transform(translateX(300%));
			}
		}
	}
}
