@import 'nav';

@import 'footer';


body{
  background-color: black;
}
.bg-image{
  background-image: url("resources/images/crico3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}

.about-us-div{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  @include justify-content(space-around);
  @include align-items(flex-start);
  padding: 80px 30px;
  color: white;
  text-shadow: 2px 2px 10px #000000;
  font-family: "Lato";
  .about-us-title{
    width: 100%;
    margin-bottom: 30px;
  }

  .col{
    width: 100%;
    p{
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  @include MediaQuery(M){
    .col{
      width: 40%;
    }
    .col-1{
      margin-right: 10px;
    }
    .col-2{
      margin-left: 10px;
    }
  }
}
#map-div{
  width: 100%;
  height: 80vh;
  pointer-events: none;

}
