@import 'nav';

$grey: #777676;

$blue: #d6cccc;

body{
  background-color: #d6cfcf;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
}

.csi-login-content{
  width: 100%;
  max-width: 400px;
  background-color: #3b3d56;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #888888;
  margin-left: 20px;
  margin-right: 20px;
  .csi-logo{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include display(flex);
    @include justify-content(center);
    img{
      filter: invert(100%);
    }

  }
  .form-group{
    padding: 35px;
    padding-top: 25px;
    .form-col{
      @include display(flex);
      padding-top: 10px;
      padding-bottom: 10px;


      span{
        font-size: 27px;
        width: 44px;
        background-color: white;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 0.5px solid #b59797;
        i{
          vertical-align: middle;
        }
      }
      input{
        width: 100%;
        height: 44px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border: 0.5px solid #b59797;
        border-left-color: transparent;
        &:focus{
          outline: none;
          box-shadow: 2px 2px 3px 0 hsla(205,5%,48%,.12);
        }

      }
    }
    .submit-col{
      width: 100%;
      font-size: 1.1em;
      font-family: $openSans;
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center)
      a{
        color: white;
        font-size: 0.7em
      }
      button{
        height: 44px;
        border: none;
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 1.2em;
        background-color: $blue*0.8;
        color:#6d6d6d*0.8;
        border-radius: 2px;
        cursor: pointer;
        @include transition(all 0.5s);
        &:hover{
          background-color: $blue * 1.5;
        }
      }
    }
  }
}
