@import 'nav';

@import 'slider';

@import 'footer';

$grey: #c3bfb4;
$openSans: "Open Sans";
.csi-about-us{
	position: relative;
	font-size: 13px;
	line-height: 22.5px;
	font-family: "Open Sans";
	color: black;
	padding-bottom: 50px;
	.container{
		position: relative;
		margin-left: auto;
		margin-right: auto;
		max-width: 540px;
		padding-top: 50px;
		padding-bottom: 50px;
		h1, p{
			text-align: center;
		}
		h1{
			font-size: 2em;
			font-weight: normal;
			margin-bottom: 20px;
		}
		p{
			line-height: 1.8em;
			font-weight: 300;
		}
	}
	@include MediaQuery(S){
		padding-top: 100px;
		padding-bottom: 100px;
		font-size: 18px;
	}
	@include MediaQuery(M){
		padding-top: 180px;
		padding-bottom: 180px;
		font-size: 21px;
	}
	.csi-more-button{
		position: relative;
		width: 100%;
		text-align: center;
		.button{
			@include border-top-radius(27.5px);
			@include border-bottom-radius(27.5px);
			@include border-left-radius(27.5px);
			@include border-right-radius(27.5px);
			position: relative;
			border: 1px solid #1a1a1a;
			padding: 15px 30px;
			@include transition(all 0.5s ease);
		}
		.button:hover{
			background-color: #1a1a1a;
			color: white;

		}
	}
}

.csi-sponsors{
	width: 100%;
	position: relative;
	// min-height: 300px;
	background-color: $grey;
	padding-top: 60px;
	padding-bottom: 60px;
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-around);

	.csi-sponsor-holder{
		width: 100px;
		height: 80px;
		margin: 10px;
		&:last-of-type{
			margin-bottom: 20px;
		}
		img{
			width: 100%;
		}
	}

	.csi-all-sponsors{
		position: absolute;
		width: 100%;
		bottom: 0;
		height: 40px;
		font-family: $openSans;
		font-weight: bold;

		.csi-all-sponsors-link{
			width: 130px;
			position: absolute;
			right: 0;
			text-align: center;
			@include transform(translateX(-20px));
			@include transition(transform 0.4s ease);
			position: absolute;
			top: 30%;
			&:hover{
				@include transform(translateX(0px));
			}
			@include MediaQuery(S){
				width: 150px;
			}
		}

	}

	@include MediaQuery(S){
		padding-top: 80px;
		padding-bottom: 80px;
		.csi-sponsor-holder{
			width: 120px;
			height: 100px;
		}
		.csi-all-sponsors{
			height: 60px;
		}
	}

	@include MediaQuery(M){
		padding-top: 100px;
		padding-bottom: 100px;
		.csi-sponsor-holder{
			width: 150px;
			height: 120px;
		}
	}

	@include MediaQuery(L){
		padding-top: 120px;
		padding-bottom: 120px;
		.csi-sponsor-holder{
			width: 200px;
			height: 150px;
			margin: 30px;
		}
	}

}
